{
    "plugins": [
        "react",
        "react-hooks",
    ],
    "rules": {
        "no-undef": [ 1 ],
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
    },
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "env": {
        "es6": true
    },
    "sourceType": "module",
}
